<div class="main-panel">
    <app-header></app-header>
    <div class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="page-container">
                        <div class="body-section">
                            <mat-tab-group>
                                <mat-tab label="Basic Info">
                                    <app-school-info [schoolBasicInfo]="schoolBasicInfo"></app-school-info>
                                </mat-tab>
                                <mat-tab label="Other Details">
                                    <app-school-other-info [schoolOtherInfo]="schoolOtherInfo"></app-school-other-info>
                                </mat-tab>
                                <!-- //Implement in phase 2 -->
                                <!-- <mat-tab label="School Admin">
                                      <app-school-admin></app-school-admin>
                                   </mat-tab> -->
                                <mat-tab label="Settings">
                                    <app-school-settings [schoolOtherInfo]="schoolOtherInfo"></app-school-settings>
                                </mat-tab>

                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>