
    
    
    
    
    
    
    
        <!--
      Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
      Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->
    
    
    
        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Students</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-panel"></i>
                                    <p>Stats</p>
                                </a>
                            </li> -->
                            <!-- <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
                                    <p>Notifications</p>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Notification 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Notification 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Notification 3</a>
                                    </li>
                                    <li>
                                        <a href="#">Notification 4</a>
                                    </li>
                                    <li>
                                        <a href="#">Another notification</a>
                                    </li>
                                </ul>
                            </li> -->
                            <li>
                                <a href="#">
                                    <i class="ti-settings"></i>
                                    <p>Settings</p>
                                </a>
                            </li>
                        </ul>
    
                    </div>
                </div>
            </nav>
    
    
            <div class="content">
                <div class="container-fluid">
    
    
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="cart-container" >
                                <mat-form-field class="class-select">
                                    <mat-select placeholder="Favorite food" >
                                        <mat-option *ngFor="let food of foods" [value]="food.value">
                                            {{ food.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div> -->
                
                    <div class="row">
    
                        <div class="col-md-12">
    
                            <div class="example-container mat-elevation-z8">
                                    <div class="cart-container">
                                    </div>
                                <div class="example-header">
                                    <div class="col-md-7">
                                            <mat-form-field>
                                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                                </mat-form-field>
                                    </div>
                                    <div class="col-md-5">
                                            <button class="float-right" mat-raised-button color="basic" >Primary</button>
                                            <div class="header-select float-right">
                                                    <mat-form-field class="class-select">
                                                        <mat-select placeholder="Class" >
                                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                                                {{ food.viewValue }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>          
                                    </div>
                                   
                                </div>
                                <hr class="width-100per">
                                <mat-table #table [dataSource]="dataSource">
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <mat-list>
                                                <mat-list-item>
                                                    <img matListAvatar src="assets/img/new_logo.png" alt="...">
                                                    <h3 matLine>{{element.name}} </h3>
                                                    <p matLine>
                                                        <span> {{element.name}} </span>
                                                        <span class="demo-2"> {{element.name}} </span>
                                                    </p>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </mat-table>
                                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                                </mat-paginator>
                            </div>
    
                        </div>
    
                    </div>
    
    
                </div>
            </div>
    
    
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
    
                            <li>
                                <a href="http://www.creative-tim.com">
                                    Creative Tim
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="http://www.creative-tim.com/license">
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>, made with
                        <i class="fa fa-heart heart"></i> by
                        <a href="http://www.creative-tim.com">Creative Tim</a>
                    </div>
                </div>
            </footer>
    
        </div>
    