<form class="studentprofileform" novalidate (ngSubmit)="save()" #addStudentForm="ngForm">

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Name" name="name" [(ngModel)]="student.Name" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput [matDatepicker]="DOB1" name="DOB" placeholder="DOB" [(ngModel)]="student.DOB" required>
                        <mat-datepicker-toggle matSuffix [for]="DOB1"></mat-datepicker-toggle>
                        <mat-datepicker #DOB1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Aadhar" name="aadhar" [(ngModel)]="student.AadharNumber" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select placeholder="Class" name="class" [(ngModel)]="student.ClassId" required>
                            <mat-option *ngFor="let class of classList" [value]="class.ClassId">
                                {{ class.ClassName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-badge" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Student ID" name="studentid" disabled [(ngModel)]="student.StudentUniqueId">
                    </mat-form-field>
                </div>

            </div>
            <div class="align-center">
                <button type="submit" mat-raised-button color="basic" [disabled]="!addStudentForm.form.valid">
                    Save
                </button>
                <button type="button" (click)="cancel()" mat-raised-button color="basic">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>