 
  
<div class="main-panel">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar bar1"></span>
                  <span class="icon-bar bar2"></span>
                  <span class="icon-bar bar3"></span>
              </button>
              <a class="navbar-brand" href="#">Dashboard</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="ti-panel"></i>
          <p>Stats</p>
                      </a>
                  </li>
                  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="ti-bell"></i>
                              <p class="notification">5</p>
            <p>Notifications</p>
            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Notification 1</a></li>
                          <li><a href="#">Notification 2</a></li>
                          <li><a href="#">Notification 3</a></li>
                          <li><a href="#">Notification 4</a></li>
                          <li><a href="#">Another notification</a></li>
                        </ul>
                  </li>
      <li>
                      <a href="#">
          <i class="ti-settings"></i>
          <p>Settings</p>
                      </a>
                  </li>
              </ul>

          </div>
      </div>
  </nav>


  <div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                <div class="page-container">

                    <div class="header-section">
                            <div class="col-md-12">
                                    <button mat-fab color="basic" class="add-student" (click)="openDialog()">  <i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        <div >
                            <div class="example-header">
                              <mat-form-field>
                                    <span matPrefix>
                                            <i class="fa fa-search" aria-hidden="true"></i> &nbsp;
                                        </span>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                              </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="body-section">
                        <mat-table #table [dataSource]="dataSource">
                             <!-- School Id column-->
                            <ng-container matColumnDef="schoolId">
                                <mat-header-cell *matHeaderCellDef class="header">SCHOOL ID</mat-header-cell>
                                <mat-cell *matCellDef="let element"> 
                                        <a [routerLink]="['/dashboard/school-details', element.schoolName]">{{element.schoolId}}</a>
                                </mat-cell>
                            </ng-container>

                             <!-- School Name Column -->
                            <ng-container matColumnDef="schoolName">
                                <mat-header-cell *matHeaderCellDef>SCHOOL NAME </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                       {{element.schoolName}} 
                                    </mat-cell>
                            </ng-container>
  
                             <!-- City Column -->
                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef>CITY</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
                            </ng-container>

                             <!-- board Column -->
                            <ng-container matColumnDef="board">
                                <mat-header-cell *matHeaderCellDef>BOARD</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.board}} </mat-cell>
                            </ng-container>
                            <!-- schoolType Column -->
                            <ng-container matColumnDef="schoolType">
                                <mat-header-cell *matHeaderCellDef>SCHOOl TYPE Type</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.schoolType}} </mat-cell>
                            </ng-container> 

                            <!-- status Column -->
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef>STATUS</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                        <div *ngIf="element.status == true">
                                            Active
                                        </div>
                                        <div *ngIf="element.status == false">
                                                In active
                                            </div>
                                     </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
                        </mat-paginator>
                    </div>
                </div>

            </div>

             


    </div>
</div>

  <footer class="footer">
      <div class="container-fluid">
          <nav class="pull-left">
              <ul>

                  <li>
                      <a href="http://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                         Blog
                      </a>
                  </li>
                  <li>
                      <a href="http://www.creative-tim.com/license">
                          Licenses
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright pull-right">
              &copy; <script>document.write(new Date().getFullYear())</script>, made with 
              <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
          </div>
      </div>
  </footer>

</div>
