<form class="add-parent-container">

    
      
            
                  <mat-form-field>
                      <span matPrefix>
                          <i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
                      <input matInput placeholder="Name of class">
                  </mat-form-field>
              
          <div class="align-center">
              <button mat-raised-button color="basic">Save</button>
              <button mat-raised-button color="basic">Cancel</button>
          </div>
    
  

</form>