<form class="add-parent-container" novalidate (ngSubmit)="save()" #classForm="ngForm">




    <mat-form-field>
        <span matPrefix>
            <i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
        <input matInput name="name" [(ngModel)]="classModel.className" placeholder="Name of class" required>
    </mat-form-field>

    <div class="align-center">
        <button type="submit" mat-raised-button color="basic" [disabled]="!classForm.form.valid">
            Save
        </button>
        <button type="button" (click)="cancel()" mat-raised-button color="basic">
            cancel
        </button>
    </div>



</form>