<div class="main-panel">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#">Staff Detials </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="ti-settings"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="page-container">
                        <div class="body-section">
                                <mat-tab-group>
                                    <mat-tab label="Basic Info">
                                      <app-add-staff></app-add-staff>
                                    </mat-tab>
                                    <mat-tab label="Other Info">
                                      <app-staff-other-info></app-staff-other-info>
                                    </mat-tab>
                                    <mat-tab label="Experience/Certificate Info">
                                        <app-experience-certificate-info></app-experience-certificate-info>
                                    </mat-tab>
                                    <mat-tab label="Setting">
                                        <app-setting-staff></app-setting-staff>
                                     </mat-tab>
                                    <mat-tab label="Documents">
                                        <app-document-staff></app-document-staff>
                                    </mat-tab>
                                  
                                </mat-tab-group>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   
</div>