<div class="main-panel">
    <app-header></app-header>
    <div class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="page-container">
                        <div class="body-section">
                            <mat-tab-group>
                                <mat-tab label="Basic Info">
                                    <app-staff-info [staffBasicInfo]="staffInfo.staffBasicInfo"></app-staff-info>
                                </mat-tab>
                                <mat-tab label="Other Info">
                                    <app-staff-other-info [staffOtherInfo]="staffInfo.staffOtherInfo"></app-staff-other-info>
                                </mat-tab>
                                <mat-tab label="Experience/Certificate Info">
                                    <app-experience-certificate-info [staffId]="staffInfoId" [staffExperiences]="staffInfo.staffExperiences"></app-experience-certificate-info>
                                </mat-tab>
                                <mat-tab label="Setting">
                                    <app-setting-staff [staffClass]="staffInfo.staffClass"></app-setting-staff>
                                </mat-tab>
                                <mat-tab label="Documents">
                                    <app-document-staff [staffId]="staffInfoId" [staffDocuments]="staffInfo.staffDocuments"></app-document-staff>
                                </mat-tab>

                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>