<form class="setting-staff-container">

  <div class="panel panel-default">
    <div class="panel-body">
<h5>Feature Access</h5>

      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-sm-offset-1 col-form-label">Classes Allowed</label>
        <div class="col-sm-8">
      <mat-form-field class="width-100per">
        <span matPrefix>
            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
        <mat-select>
            <mat-option value="option">Management</mat-option>
            <mat-option value="option">Technical</mat-option>
            <mat-option value="option">Clerical</mat-option>
            <mat-option value="option">Supporting</mat-option>
        </mat-select>
    </mat-form-field>
        </div>
      </div>

      <div class="align-center">
        <button class="" mat-raised-button color="basic">Save</button>
      </div>
    </div>
  </div>
</form>