.setting-staff-container{
    padding: 50px 15px;
  }



  label {
    font-weight: normal;
    padding-top: 21px;
  }
  h5{
    line-height:1;
    color: rgba(41, 184, 187, 1);
    font-size: 1.6em;
  }

  .panel-body {
    padding: 30px;
  }

  .setting-staff-container button {
        background-color: #29b8bb;
        color: white;
        line-height: 29px;
        margin-top: 22px;
        margin-left: 8px;
    }