<form class="add-staff-container" novalidate (ngSubmit)="save()" #staffForm="ngForm">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <!-- <div class="col-md-12 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput disabled placeholder="Staff ID" value="2323">
                    </mat-form-field>
                </div> -->
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="First Name" name="FirstName" required [(ngModel)]="staffModel.FirstName">
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Last Name" name="LastName" required [(ngModel)]="staffModel.LastName">
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Email" name="Email" required [(ngModel)]="staffModel.Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Mobile No." name="MobileNumber" required [(ngModel)]="staffModel.MobileNumber" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$">
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select placeholder="Staff Type" name="staffType" required [(ngModel)]="staffModel.StaffTypeId" (ngModelChange)="onSelect($event)">
                            <mat-option [value]="0"> Select </mat-option>
                            <mat-option *ngFor="let staffType of staffTypes" [value]="staffType.StaffTypeId">
                                {{ staffType.StaffTypeName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select placeholder="Staff Subtype" name="staffSubType" [(ngModel)]="staffModel.StaffSubTypeId">
                            <mat-option *ngIf='selectedStaffType.StaffTypeId == 0' [value]="0"> Select </mat-option>
                            <mat-option *ngFor="let staffSubType of staffSubTypes" [value]="staffSubType.StaffSubTypeId">
                                {{ staffSubType.StaffSubTypeName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Other Info" name="OtherInfo" required [(ngModel)]="staffModel.OtherInfo">
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Address" name="Address" required [(ngModel)]="staffModel.Address">
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select placeholder="Gender" name="Gender" required [(ngModel)]="staffModel.Gender">
                            <!-- <mat-option [value]="Male">Male</mat-option>
                            <mat-option [value]="Female">Female</mat-option> -->
                            <mat-option [value]="1">Male</mat-option>
                            <mat-option [value]="2">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select placeholder="Maritial Status" name="MarriedStatus" required [(ngModel)]="staffModel.MarriedStatus">
                            <mat-option [value]="false">Single</mat-option>
                            <mat-option [value]="true">Married</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput [matDatepicker]="DOB" placeholder="DOB" name="Dob" [(ngModel)]="staffModel.Dob">
                        <mat-datepicker-toggle matSuffix [for]="DOB"></mat-datepicker-toggle>
                        <mat-datepicker #DOB></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput [matDatepicker]="DOJ" placeholder="DOJ" name="DateOfJoining" [(ngModel)]="staffModel.DateOfJoining">
                        <mat-datepicker-toggle matSuffix [for]="DOJ"></mat-datepicker-toggle>
                        <mat-datepicker #DOJ></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput [matDatepicker]="DOL" placeholder="DOL" name="DateOfLeaving" [(ngModel)]="staffModel.DateOfLeaving">
                        <mat-datepicker-toggle matSuffix [for]="DOL"></mat-datepicker-toggle>
                        <mat-datepicker #DOL></mat-datepicker>
                    </mat-form-field>
                </div>


                <div class="align-center">
                    <button type="submit" mat-raised-button color="basic" [disabled]="!staffForm.form.valid">Save</button>
                    <button type="button" (click)="cancel()" mat-raised-button color="basic">
                        cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>