<div class="parent-container">

    <mat-table #table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="fname">
            <mat-header-cell *matHeaderCellDef>Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-list>
                    <mat-list-item>
                        <img matListAvatar src="assets/img/new_logo.png" alt="...">
                        <h3 matLine>
                            <a class="cursor-pointer" (click)="openDialog()">{{element.fname}} {{element.lname}}</a>
                        </h3>
                    </mat-list-item>
                </mat-list>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef> Mobile No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
        </ng-container>



        <!-- Symbol Column -->
        <ng-container matColumnDef="sign-up">
            <mat-header-cell *matHeaderCellDef> Sign Up </mat-header-cell>
            <mat-cell *matCellDef="let element"><button mat-raised-button color="warn" class="remind-button"><i class="fa fa-bell"></i>Remind</button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>