<form class="Userchangepasswordform" novalidate (ngSubmit)="update()" #UserChangePasswordForm="ngForm">

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <mat-form-field class="width-100per">
                        <input matInput placeholder="Old password" name="OldPassword" [(ngModel)]="userChangePassword.OldPassword" [type]="oldHide ? 'password' : 'text'"
                            required>
                        <mat-icon matSuffix (click)="oldHide = !oldHide">{{oldHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-xs-12">
                    <mat-form-field class="width-100per">
                        <input matInput placeholder="New password" name="NewPassword" [(ngModel)]="userChangePassword.NewPassword" [type]="newHide ? 'password' : 'text'"
                            required>
                        <mat-icon matSuffix (click)="newHide = !newHide">{{newHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-12 col-xs-12">
                    <mat-form-field class="width-100per">
                        <input matInput placeholder="Confirm password" name="ConfirmPassword" [(ngModel)]="userChangePassword.ConfirmPassword" [type]="confirmHide ? 'password' : 'text'"
                            required>
                        <mat-icon matSuffix (click)="confirmHide = !confirmHide">{{confirmHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="align-center">
                <button type="submit" mat-raised-button color="basic" [disabled]="!UserChangePasswordForm.form.valid || userChangePassword.ConfirmPassword !== userChangePassword.NewPassword">
                    Save
                </button>
                <button type="button" (click)="cancel()" mat-raised-button color="basic">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>