<div class="main-panel">
    <app-header></app-header>
    <div class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="page-container">

                        <div class="header-section">
                            <div class="col-md-12">
                                <button mat-fab color="basic" class="add-student" (click)="openDialog()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-7">
                                <mat-form-field>
                                    <span matPrefix>
                                        <i class="fa fa-search" aria-hidden="true"></i> &nbsp;</span>
                                    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filter.serachKeyword" placeholder="Filter">
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <button class="float-right" mat-raised-button color="basic" (click)="filterData()">Filter</button>
                                <div class="select-box float-right">
                                    <mat-form-field class="class-select">
                                        <mat-select placeholder="Class" [(ngModel)]="filter.classId">
                                            <mat-option>All</mat-option>
                                            <mat-option *ngFor="let class of classList" [value]="class.ClassId">
                                                {{ class.ClassName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div class="body-section">
                            <mat-table #table [dataSource]="dataSource">
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <mat-list>
                                            <mat-list-item>
                                                <img matListAvatar src="assets/img/new_logo.png" alt="...">
                                                <h3 matLine>
                                                    <a [routerLink]="['/dashboard/student/student-details', element.StudentId]">{{ element.Name }}</a>
                                                </h3>
                                                <p matLine>
                                                    <span> Class - </span>
                                                    <span class="demo-2"> {{element.ClassName}} </span>
                                                </p>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                            </mat-paginator>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>

                    <li>
                        <a href="#">
                            Udaipur
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script>, made with
                <i class="fa fa-heart heart"></i> by
                <a href="#">Udaipur Team</a>
            </div>
        </div>
    </footer>

</div>