<form class="add-parent-container">
    <div class="panel panel-default">
        <div class="panel-body">
        
              
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Name">
                    </mat-form-field>
                   <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="DOB">
                    </mat-form-field>
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Aadhar">
                    </mat-form-field>
                   <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select placeholder="Class">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                        </mat-select>
                    </mat-form-field>
                  <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-badge" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput placeholder="Student ID">
                    </mat-form-field>
               
            <div class="align-center">
                <button class="" mat-raised-button color="basic">Save</button>
                <button class="" mat-raised-button color="basic">Reset</button>
            </div>
        </div>
    
</div>
</form>