<form class="add-parent-container">
            
                  
                        <mat-form-field>
                            <span matPrefix>
                                <i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
                            <input matInput placeholder="First Name">
                        </mat-form-field>
                        <mat-form-field>
                            <span matPrefix>
                                <i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
                            <input matInput placeholder="Last Name">
                        </mat-form-field>
                        <mat-form-field>
                            <span matPrefix>
                                <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                            <input matInput placeholder="Email">
                        </mat-form-field>
                        <mat-form-field>
                            <span matPrefix>
                                <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                            <input matInput placeholder="Mobile No.">
                        </mat-form-field>
                        <mat-form-field>
                                <span matPrefix>
                                    <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                                <input matInput placeholder="Phone No.">
                            </mat-form-field>
                <div class="align-center">
                    <button class="" mat-raised-button color="basic">Save</button>
                    <button class="" mat-raised-button color="basic">Reset</button>
                </div>
   
    </form>