<div class="main-panel">
    <app-header></app-header>
    <div class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="page-container">

                        <div class="header-section">
                            <div class="col-md-7">
                                <mat-form-field>
                                    <span matPrefix>
                                        <i class="fa fa-search" aria-hidden="true"></i> &nbsp;</span>
                                    <input matInput [(ngModel)]="filter.serachKeyword" (ngModelChange)="filterData(false)" placeholder="Filter">
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <button class="float-right" mat-raised-button color="basic" (click)="filterData(true)">Filter</button>
                                <div class="select-box float-right">
                                    <mat-form-field class="class-select">
                                        <mat-select placeholder="Class" [(ngModel)]="filter.classId">
                                            <mat-option> All </mat-option>
                                            <mat-option *ngFor="let class of classList" [value]="class.ClassId">
                                                {{ class.ClassName }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div class="body-section">
                            <app-parent-list [type]="listType.All"></app-parent-list>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>

                    <li>
                        <a href="#">
                            Udaipur
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script>, made with
                <i class="fa fa-heart heart"></i> by
                <a href="#">Udaipur Team</a>
            </div>
        </div>
    </footer>

</div>