<div class="main-panel">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#">Parent</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="ti-settings"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="page-container">

                        <div class="header-section">
                          <div class="col-md-7">
                                <mat-form-field>
                                    <span matPrefix>
                                        <i class="fa fa-search" aria-hidden="true"></i> &nbsp;</span>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <button class="float-right" mat-raised-button color="basic">Filter</button>
                                <div class="select-box float-right">
                                    <mat-form-field class="class-select">
                                        <mat-select placeholder="Class">
                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                                {{ food.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div class="body-section">
                            <mat-table #table [dataSource]="dataSource">
                                <!-- Name Column -->
                                <ng-container matColumnDef="STUDENT">
                                    <mat-header-cell *matHeaderCellDef>STUDENT </mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <mat-list>
                                            <mat-list-item>
                                                <img matListAvatar src="assets/img/child.jpg" alt="...">
                                                <h3 matLine>
                                                    <a [routerLink]="['/dashboard/student-details', element.name]">{{element.name}}</a>
                                                </h3>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="PARENTS">
                                    <mat-header-cell *matHeaderCellDef>PARENTS</mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                    <mat-list *ngIf="element.parents !== undefined" class="parent-list">
                                        <mat-list-item>
                                            <img matListAvatar src="assets/img/parent.jpg" alt="...">
                                            <h3 matLine>
                                                <a >{{element.parents[0].name}}</a>
                                            </h3>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <img matListAvatar src="assets/img/mother.jpg" alt="...">
                                            <h3 matLine>
                                                <a >{{element.parents[1].name}}</a>
                                            </h3>
                                        </mat-list-item>
                                    </mat-list>
                                    <button *ngIf="element.parents === undefined" mat-raised-button color="warn" class="invite-button"><i class="fa fa-user-plus"></i>Invite Parent</button>
                                </mat-cell>                 
                                </ng-container>

                                <ng-container matColumnDef="SIGN UP">
                                    <mat-header-cell *matHeaderCellDef>SIGN UP</mat-header-cell>
                                    <mat-cell *matCellDef="let element"><button *ngIf="element.parents !== undefined" mat-button color="warn" class="remind-button"><i class="fa fa-bell"></i>Remind</button></mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="CHECK-IN CODE">
                                    <mat-header-cell *matHeaderCellDef>CHECK-IN CODE</mat-header-cell>
                                    <mat-cell *matCellDef="let element"><button *ngIf="element.parents !== undefined" mat-button color="warn"><i class="fa fa-eye"></i>Reveal</button></mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                            </mat-paginator>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
  
                    <li>
                        <a href="#">
                            Udaipur
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="#">Udaipur Team</a>
            </div>
        </div>
    </footer>

</div>