<div class="setting-staff-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="javascript:void(0)" mat-fab color="basic" (click)="openDialog()">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>

            <mat-table #table [dataSource]="dataSource">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Document Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.DocumentName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="value">
                    <mat-header-cell *matHeaderCellDef>Value </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.DocumentCode}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="attachemnt">
                    <mat-header-cell *matHeaderCellDef>Attachment</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <img class="document-img" src="{{element.DocURL}}"> </mat-cell>
                </ng-container>



                <!-- Symbol Column -->
                <ng-container matColumnDef="manualVerification">
                    <mat-header-cell *matHeaderCellDef>Manual Verification?</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ (element.ManualVerification) ? 'Yes' : 'No' }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="verifiedBy">
                    <mat-header-cell *matHeaderCellDef>Verified By</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.VerifiedBy}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <i class="fa fa-trash" (click)="removeDocument(element.StaffDocumentId)"></i>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

        </div>
    </div>
</div>