<!--
      Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
      Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->



<div class="main-panel">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#">Students</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="ti-settings"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <div class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="example-container mat-elevation-z8">
                        <div class="cart-header-line"> </div>
                       <div class="col-md-10 col-md-offset-1">
                          
                                <mat-tab-group>
                                    <mat-tab label="Profile">
                                           

                                        <form class="studentprofileform">

                                                <div class="panel panel-default">
                                                        <div class="panel-body">

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                        <mat-form-field>
                                                                                <span matPrefix><i class="fa fa-user" aria-hidden="true"></i> &nbsp;</span>
                                                                            <input matInput placeholder="Name">
                                                                        </mat-form-field>
                                                                </div>
                                                                <div class="col-md-6">     <mat-form-field>
                                                                        <span matPrefix><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>  
                                                                    <input matInput placeholder="DOB">
                                                                </mat-form-field></div>
                                                                <div class="col-md-6">  <mat-form-field>
                                                                        <span matPrefix><i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>  
                                                                    <input matInput placeholder="Aadhar">
                                                                </mat-form-field></div>
                                                                <div class="col-md-6"> <mat-form-field>
                                                                        <span matPrefix><i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>  
                                                                    <mat-select placeholder="Class">
                                                                        <mat-option value="option">1</mat-option>
                                                                        <mat-option value="option">2</mat-option>
                                                                        <mat-option value="option">3</mat-option>
                                                                    </mat-select>
                                                                </mat-form-field></div>
                                                                <div class="col-md-6">  <mat-form-field>
                                                                        <span matPrefix><i class="fa fa-id-badge" aria-hidden="true"></i> &nbsp;</span>  
                                                                        <input matInput placeholder="Student ID">
                                                                    </mat-form-field></div>
                                                              
                                                            </div>
                                                               
                    
                                                           
                    
                                                              
                    
                                                               
                                                              
                                                               <div class="align-center">
                                                                    <button class="" mat-raised-button color="basic">Save</button>
                                                                    <button class="" mat-raised-button color="basic">Reset</button>
                                                                </div>


                                                        </div>
                                                      </div>

                                          
                                        </form>
                                    </mat-tab>
                                    <mat-tab label="Parent">
                                      <div class="parent-container">
                                        <app-parent-details></app-parent-details>
                                    </div>
                                    </mat-tab>
                                    <mat-tab label="Activities">

                                        <app-student-activity></app-student-activity>

                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                    </div>

                </div>

            </div>


        </div>
    </div>


    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>

                    <li>
                        <a href="http://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="http://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>document.write(new Date().getFullYear())</script>, made with
                <i class="fa fa-heart heart"></i> by
                <a href="http://www.creative-tim.com">Creative Tim</a>
            </div>
        </div>
    </footer>

</div>