<form class="school-settings-form" novalidate (ngSubmit)="save()" #signupForm="ngForm">

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Feature Access Permission</h3>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-play" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select name="allowvideo" [(ngModel)]="schoolOtherInfo.AllowVideo" placeholder="Video">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select name="allowbranding" [(ngModel)]="schoolOtherInfo.AllowBranding" placeholder="Branding">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">

                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput name="validity" required [(ngModel)]="schoolOtherInfo.Validity" [matDatepicker]="Validity" placeholder="Validity">
                        <mat-datepicker-toggle matSuffix [for]="Validity"></mat-datepicker-toggle>
                        <mat-datepicker #Validity></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-book" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select name="allowdocument" [(ngModel)]="schoolOtherInfo.AllowDocument" placeholder="Staff Documents">
                            <mat-option [value]=true>Yes</mat-option>
                            <mat-option [value]=false>No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-6 col-xs-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp;</span>
                        <mat-select name="isactive" [(ngModel)]="schoolOtherInfo.IsActive" placeholder="Status">
                            <mat-option [value]=true>ACTIVE</mat-option>
                            <mat-option [value]=false>INACTIVE</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="align-center">
                <button type="submit" mat-raised-button color="basic" [disabled]="!signupForm.form.valid">Save</button>
                <button type="button" (click)="cancel()" mat-raised-button color="basic">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>