<form class="school-settings-form">

    <div class="panel panel-default">
      <div class="panel-body">
       <h3>Feature Access Permission</h3>
        <div class="row">
          <div class="col-md-6 col-xs-12">
              <mat-form-field>
                  <span matPrefix>
                    <i class="fa fa-play" aria-hidden="true"></i> &nbsp;</span>
                  <mat-select placeholder="Video">
                    <mat-option value="YES">Yes</mat-option>
                    <mat-option value="NO">No</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="col-md-6 col-xs-12">
              <mat-form-field>
                  <span matPrefix>
                    <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp;</span>
                  <mat-select placeholder="Branding">
                    <mat-option value="YES">Yes</mat-option>
                    <mat-option value="NO">No</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="col-md-6 col-xs-12">
              
                    <mat-form-field>
                        <span matPrefix>
                           <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;</span>
                         <input matInput [matDatepicker]="Validity" placeholder="Validity">
                         <mat-datepicker-toggle matSuffix [for]="Validity"></mat-datepicker-toggle>
                         <mat-datepicker #Validity></mat-datepicker>
                       </mat-form-field>
          </div>
          <div class="col-md-6 col-xs-12">
              <mat-form-field>
                  <span matPrefix>
                    <i class="fa fa-book" aria-hidden="true"></i> &nbsp;</span>
                  <mat-select placeholder="Staff Documents">
                    <mat-option value="YES">Yes</mat-option>
                    <mat-option value="NO">No</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
           
           
        </div>
        <div class="align-center">
          <button class="" mat-raised-button color="basic">Save</button>
          <button class="" mat-raised-button color="basic">Reset</button>
        </div>
      </div>
    </div>
  </form>