/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


  /* use below classes for each new page or component to follow theme styling*/

.page-container {
    display: flex;
    flex-direction: column;
    min-width: 300px; 
    border-top: 6px solid rgba(41, 184, 187, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: white !important;
    min-height: 70vh;
}

.page-container .header-section {
    min-height: 64px;
    padding: 25px 25px 15px;
    border-bottom: 1px solid lightgrey;
  }

  .page-container .body-section{
    padding: 10px 30px;
  }



  /* material css overwrite according to requirement */

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .mat-row{
    padding: 0px !important;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:rgba(41, 184, 187, 1);;
}


/* created some custom classes used by all over project */

button{
    background-color: #29b8bb !important;
    color: white !important;
}
.float-right{
    float: right;
}
.width-100per{
    width: 100% !important;
 } 
 .align-center{
     text-align: center;
 }
