/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


  /* use below classes for each new page or component to follow theme styling*/

.page-container {
    display: flex;
    flex-direction: column;
    min-width: 300px; 
    border-top: 6px solid rgba(41, 184, 187, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: white !important;
    min-height: 70vh;
}

.page-container .header-section {
    min-height: 64px;
    padding: 25px 25px 15px;
    border-bottom: 1px solid lightgrey;
  }

  .page-container .body-section{
    padding: 10px 30px;
  }



  /* material css overwrite according to requirement */

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .student-list-container .mat-table {
overflow: visible;
  } 

  .student-list-container  .mat-cell, .mat-header-cell{
      overflow: visible;
  }

  .mat-row{
    padding: 0px !important;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:rgba(41, 184, 187, 1);
}

.class-container .mat-list .mat-list-item .mat-list-text{
  width: auto !important;
}

.class-container .mat-list .mat-list-item .mat-list-avatar{
  width: 30px !important;
  height: 30px !important;
}
.mat-list-text{
  order: 3 !important;
}
.mat-checkbox-inner-container{
  height: 18px !important;
width: 18px !important;
}

.mat-checkbox-inner-container-no-side-margin{
  margin-top: 10px !important;
  margin-right: 4px !important;
}

.mat-progress-spinner circle, .mat-spinner circle{
    stroke: rgba(41, 184, 187, 1) !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: #29b8bb !important;
}


/*  School info line component css overwrite   */

.schoolinfoform .mat-form-field-infix{
  width: auto !important ;
}
.schoolinfoform mat-checkbox label{
  font-weight: 500 !important;
}

/* created some custom classes used by all over project */


.float-right{
    float: right;
}
.width-100per{
    width: 100% !important;
 } 
 .width-fit-content{
   width: fit-content !important;
 }
 .align-center{
     text-align: center;
 }
 .align-right{
    text-align: right;
  }
  .align-left{
    text-align: left;
  }

 .cursor-pointer{
   cursor: pointer;
 }

.display-inline {
  display: inline-flex;
}

.display-none {
    display: none;
  }

.order-1{
  order: 1 !important;
}
.order-2{
  order: 2 !important;
}


-webkit-scrollbar {
    width: 5px;
}
 
-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
-webkit-scrollbar-thumb {
  background-color: #29b8bb;
  outline: 1px solid slategrey;
}



