
<div class="sidebar" data-background-color="white" data-active-color="danger">
<div class="sidebar-wrapper">
  <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
          school

      </a>
  </div>

  <ul class="nav">
      <li class="active">
          <a routerLink="dashboardmain">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <p>Dashboard</p>
          </a>
      </li>
      <li>
          <a routerLink="school">
              <i class="fa fa-building" aria-hidden="true"></i>
              <p>Schools</p>
          </a>
      </li>
      <li>
          <a routerLink="student-list">
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>Students</p>
          </a>
      </li>
      <li>
          <a routerLink="parent">
              <i class="fa fa-male" aria-hidden="true"></i>
              <i class="fa fa-female" aria-hidden="true"></i>
              <p>Parents</p>
          </a>
      </li>
      <li>
          <a routerLink="staff">
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>Staff</p>
          </a>
      </li>
      <li>
          <a routerLink="class">
              <i class="ti-map"></i>
              <p>Class</p>
          </a>
      </li>
      <li>
          <a routerLink="report">
              <i class="fa fa-file" aria-hidden="true"></i>
              <p>Reports</p>
          </a>
      </li>
<li >
          <a routerLink="calender">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <p>Calender</p>
          </a>
      </li>
  </ul>
</div>
</div>