<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <!-- <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                school
            </a>
        </div> -->
        <div class="header">
            <img matListAvatar src="../../../assets/img/new_logo.png" alt="...">
            <form *ngIf="isAdmin">
                <mat-form-field class="width-100per">
                    <span matPrefix>
                        <i class="fa fa-address-card" aria-hidden="true"></i> &nbsp;</span>
                    <input type="text" placeholder="Select school" aria-label="Number" (ngModelChange)="filterData($event)" [(ngModel)]="selectedSchool"
                        name="selectSchool" matInput [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option (onSelectionChange)="selectSchool($event)" *ngFor="let school of autocompleteList" [value]="school">
                            {{school}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>

        <ul class="nav">
            <li routerLinkActive="active">
                <a routerLink="dashboardmain">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="isAdmin">
                <a routerLink="school">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    <p>Schools</p>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="isSuperAdmin">
                <a routerLink="class">
                    <i class="ti-map"></i>
                    <p>Class</p>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="isSuperAdmin">
                <a routerLink="staff">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <p>Staff</p>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="isSuperAdmin">
                <a routerLink="student-list">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <p>Students</p>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="isSuperAdmin">
                <a routerLink="parent">
                    <i class="fa fa-male" aria-hidden="true"></i>
                    <i class="fa fa-female" aria-hidden="true"></i>
                    <p>Parents</p>
                </a>
            </li>
            <!-- <li routerLinkActive="active">
                <a routerLink="calender" [class.disabled]="isDisable ? true : null">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <p>Calender</p>
                </a>
            </li> -->
        </ul>
    </div>
</div>