<div class="student-list-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <span matPrefix>
                            <i class="fa fa-search" aria-hidden="true"></i> &nbsp;</span>
                        <input matInput [(ngModel)]="filter" placeholder="Filter">
                    </mat-form-field>
                </div>
                <div class="col-md-12">

                    <app-parent-list [type]="listType.Class" [filter]="filter" [id]="classId"></app-parent-list>
                </div>

            </div>
        </div>
    </div>
</div>