<form class="studentprofileform">

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-sm-offset-1 col-form-label">Child ID</label>
        <div class="col-sm-8">
          <h5>CHILDID123</h5>
          <!-- <input type="test" disabled class="form-control" id="inputEmail3" placeholder="Email"> -->
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-sm-offset-1 col-form-label">Password</label>
        <div class="col-sm-8">
    <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
     <input type="test" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
        </div>
      </div>

      <div class="align-center">
        <label>School Type</label>
        <button class="" mat-raised-button color="basic">Generate New Code</button>
        <button class="" mat-raised-button color="basic">Print</button>
        <button class="" mat-raised-button color="basic">Email</button>
      </div>
    </div>
  </div>
</form>